html {
    font-size: 100%;
    background-color: white;
    color: #504646;
}
body {
    background-color: #886288;
    Color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: 10px solid #886288;
    margin: 10px;
    Padding: 0px;
  }
header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 5px 5px 60px;
    height: 100px;
    Background-color: #886288;
    border: 10px solid #fff;
    font-size: 18px;
    height: 100px;
}
header h1{
    height:50px;
    justify-items:left;
    margin-left: 50px;
}
header a{
    height:90px;
    text-align: left;
}
header img {
    height: 70px;
    margin-top:15px;
    margin-left: 5px;
    border:5px solid #000;
    box-shadow: -10px -10px 20px 10px white;
}

nav {
    padding: 1rem 0 1rem 0;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
    list-style-type: none;
}
nav ul li {
    background-color: #886288;
    color: #fff;
    margin: 10px;
    border:solid 8px #000;
    padding: 20px;
    font-weight:bold;
}
nav u li a {
    background-color: #fff;
    color: #886288;
    font-weight: bold
}

nav ul li:hover {
    background-color:#fff;
    color:#0000e0;
    font-weight:bold;
    text-decoration-line: underline;
}
.wrapper {
    background-color: #886288;
    border: 10px solid #fff;

}
#primary {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
padding: 25px 25px 20px;
}
#main article {
    flex-wrap: wrap;
    margin: 50px;

    
}
.hbtc-table{
    background-color:#fff;
    color:#000;
    border-collapse: collapse;
    width:5px;
    border:solid 5px #fff;
    Width:500px;
    box-shadow: -10px -10px 20px 10px #000;

    margin:15px auto;
    font-weight:bold;
}
.hbtc-table thead tr{
    border:solid 5px #fff;
    letter-spacing:1px;
    padding:5px;
    background-color:#886288;
    color:#fff;
}
.hbtc-table body{
    border-bottom:solid 10px #000;
}


.rowhover:hover{
    background-color:#000;
    color:#fff;
    border:solid 2px #000;
}
.hbtc-table footer{
    border-top:solid 10px #000;
}

figure {
    padding-bottom:30px;
}
figure img {
    width:80%;
    height: 80%;
    border:15px solid #000;
    box-shadow: 20px 20px 20px 10px;
    justify-items: left;

}

footer {
    background-color: #886288;
    border: 10px solid #fff;
    margin: 30px;
    padding: 10px;
}
p{
    margin-left: 30px;
}

