html {
    font-size: 100%;
    background-color: white;
    color: #000;
}

body{
    background-color: #886288;
    Color: #fff;
    font-family: sans-serif;
    border: 10px solid #fff;
    margin: 0;
    Padding: 10px;
}
header {
    Background-color: #886288;
    border: 10px solid #fff;
    font-size: .5rem;
    height: 150px;
}
header img {
    height: 50%;
}
nav ul{
    list-style-type: none;
}
nav ul li {
    background-color: #886288;
    color: #fff;
    border: 5px solid #fff;
    padding: 0px;
}
nav ul li:hover {
    background-color:#fff;
    color:#0000e0;
    text-decoration-line: underline;
}
.wrapper {
    background-color: #886288;
    border: 10px solid #fff;
    margin: 0;
    padding: 0;
}
footer {
    background-color: #886288;
    border: 10px solid #fff;
    margin: 0;
    padding: 0;
}